<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172486005214-ucg5g9m99s62h5bu07j3p1puen9bge9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172486005214-ucg5g9m99s62h5bu07j3p1puen9bge9u</string>
	<key>API_KEY</key>
	<string>AIzaSyCzR8K8EXx2xPvUv-YFnAZbynGYS_laqVg</string>
	<key>GCM_SENDER_ID</key>
	<string>172486005214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sparkleWrench</string>
	<key>PROJECT_ID</key>
	<string>sparkle-wrench</string>
	<key>STORAGE_BUCKET</key>
	<string>sparkle-wrench.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172486005214:ios:935add98aa99f9382f8d4f</string>
</dict>
</plist>